@charset "UTF-8";
.spinner-section-far,
.spinner-double-section-far,
.spinner-section-out,
.spinner-double-section-out,
.spinner-section-in,
.spinner-double-section-in,
.spinner-section,
.spinner-double-section,
.spinner-huge-wave-in,
.spinner-huge-wave-out,
.spinner-double-wave-in,
.spinner-double-wave-out,
.spinner-wave-in,
.spinner-wave-out,
.spinner-dot-out,
.spinner-double-dot-out,
.spinner-dot-stick,
.spinner-double-dot-stick,
.spinner-dot-in,
.spinner-double-dot-in {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3.125px solid #aaa;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Dots */
.spinner-dot-out,
.spinner-double-dot-out,
.spinner-dot-stick,
.spinner-double-dot-stick,
.spinner-dot-in,
.spinner-double-dot-in {
  position: relative;
}
.spinner-dot-out:before,
.spinner-double-dot-out:before,
.spinner-dot-stick:before,
.spinner-double-dot-stick:before,
.spinner-dot-in:before,
.spinner-dot-out:after,
.spinner-double-dot-out:after,
.spinner-dot-stick:after,
.spinner-double-dot-stick:after,
.spinner-dot-in:after,
.spinner-double-dot-in:before,
.spinner-double-dot-in:after {
  content: "";
  position: absolute;
  top: 6.25px;
  left: 21.875px;
  width: 6.25px;
  height: 6.25px;
  border-radius: 50%;
  background: tomato;
}
.spinner-dot-out:after,
.spinner-double-dot-out:after,
.spinner-dot-stick:after,
.spinner-double-dot-stick:after,
.spinner-dot-in:after,
.spinner-double-dot-in:after {
  top: auto;
  bottom: 6.25px;
}

.spinner-dot-in:after {
  display: none;
}

.spinner-dot-stick:before,
.spinner-dot-stick:after,
.spinner-double-dot-stick:before,
.spinner-double-dot-stick:after {
  top: -6.25px;
}
.spinner-dot-stick:after,
.spinner-double-dot-stick:after {
  top: auto;
  bottom: -6.25px;
}

.spinner-dot-stick:after {
  display: none;
}

.spinner-dot-out:before,
.spinner-dot-out:after,
.spinner-double-dot-out:before,
.spinner-double-dot-out:after {
  top: -12.5px;
}
.spinner-dot-out:after,
.spinner-double-dot-out:after {
  top: auto;
  bottom: -12.5px;
}

.spinner-dot-out:after {
  display: none;
}

/* Waves */
.spinner-wave-out {
  box-shadow: -1.5625px -1.5625px 0 1.5625px tomato;
}

.spinner-wave-in {
  box-shadow: inset -1.5625px -1.5625px 0 1.5625px tomato;
}

.spinner-double-wave-out {
  box-shadow: -1.5625px -1.5625px 0 1.5625px tomato, 1.5625px 1.5625px 0 1.5625px tomato;
}

.spinner-double-wave-in {
  box-shadow: inset -1.5625px -1.5625px 0 1.5625px tomato, inset 1.5625px 1.5625px 0 1.5625px tomato;
}

.spinner-huge-wave-out {
  box-shadow: -1.5625px -1.5625px 0 6.25px tomato;
}

.spinner-huge-wave-in {
  box-shadow: inset -1.5625px -1.5625px 0 6.25px tomato;
}

/* Sections */
.spinner-section-far,
.spinner-double-section-far,
.spinner-section-out,
.spinner-double-section-out,
.spinner-section-in,
.spinner-double-section-in,
.spinner-section,
.spinner-double-section {
  position: relative;
}
.spinner-section-far:before,
.spinner-double-section-far:before,
.spinner-section-out:before,
.spinner-double-section-out:before,
.spinner-section-in:before,
.spinner-double-section-in:before,
.spinner-section:before,
.spinner-section-far:after,
.spinner-double-section-far:after,
.spinner-section-out:after,
.spinner-double-section-out:after,
.spinner-section-in:after,
.spinner-double-section-in:after,
.spinner-section:after,
.spinner-double-section:before,
.spinner-double-section:after {
  content: "";
  position: absolute;
  top: -3.125px;
  left: -3.125px;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3.125px solid transparent;
  border-top-color: tomato;
}
.spinner-section-far:after,
.spinner-double-section-far:after,
.spinner-section-out:after,
.spinner-double-section-out:after,
.spinner-section-in:after,
.spinner-double-section-in:after,
.spinner-section:after,
.spinner-double-section:after {
  border-top-color: transparent;
  border-bottom-color: tomato;
}

.spinner-section:after {
  display: none;
}

.spinner-section-in:before,
.spinner-section-in:after,
.spinner-double-section-in:before,
.spinner-double-section-in:after {
  top: 0;
  left: 0;
  width: 43.75px;
  height: 43.75px;
}

.spinner-section-in:after {
  display: none;
}

.spinner-section-out:before,
.spinner-section-out:after,
.spinner-double-section-out:before,
.spinner-double-section-out:after {
  top: -6.25px;
  left: -6.25px;
  /*
  width: 56.25px;
  height: 56.25px;
  */
   width: 30.25px;
  height: 30.25px;
  
}

.spinner-section-out:after {
  display: none;
}

.spinner-section-far:before,
.spinner-section-far:after,
.spinner-double-section-far:before,
.spinner-double-section-far:after {
  top: -9.375px;
  left: -9.375px;
  width: 62.5px;
  height: 62.5px;
}

.spinner-section-far:after {
  display: none;
}

/* --- */
/*
body {
  background: #303030;
  overflow: hidden;
}

.container {
  width: 360px;
  margin: 30px auto;
}
*/
span {
  margin: 10px;
}
span:nth-child(4n+1) {
  clear: both;
}