<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.sporters.board.mapper.GalleryCommMapper">
<resultMap type="LOCALS_COMMENT" id="LocalCommDtoMap">
		<id  property="localCoNo"  column="LOCAL_CO_NO"  />
		<result property="localBoardNo"  column="LOCAL_BOARD_NO" />	
		<result property="commContent"  column="COMM_CONTENT" />	
		<result property="createDate"  column="COMM_CREATE_DATE" />
		<result property="state"  column="STATE" />
		<result property="depth"  column="DEPTH" />	
		<result property="groupNo"  column="GROUP_NO" />		
		<result property="groupOrder"  column="GROUP_ORDER" />		
		<result property="userNo"  column="USER_NO" />				
		<association property="users"  javaType="UsersDTO" >
			<id  property="userNo"  column="USER_NO"  />
			<result property="id"  column="ID" />	
			<result property="nickname"  column="NICKNAME" />	
			<result property="name"  column="NAME" />
			<result property="joinDate"  column="JOINDATE" />
			<result property="gender"  column="GENDER" />		
		</association>			
	</resultMap>





	<select id="selectFreeCommentCnt" parameterType="int" resultType="int">
		SELECT COUNT(*)
		  FROM LOCALS_COMMENT
		 WHERE LOCAL_BOARD_NO = #{localBoardNo}
	</select>
	<insert id="insertFreeComment" parameterType="LocalCommDTO" useGeneratedKeys="true" keyProperty="localCoNo">
		INSERT INTO LOCALS_COMMENT
			( LOCAL_BOARD_NO, COMM_CONTENT,COMM_CREATE_DATE, STATE, DEPTH, GROUP_NO, GROUP_ORDER, USER_NO)
		VALUES
			( #{localBoardNo}, #{commContent}, NOW(), 1, 0, #{groupNo}, #{localCoNo}, #{userNo})
	</insert>
	
	<update id="updateCommGroupOrder" parameterType="LocalCommDTO">
		UPDATE LOCALS_COMMENT
		   SET GROUP_NO = #{localCoNo}
		 WHERE LOCAL_CO_NO = #{localCoNo}
	</update>
	
		
	<select id="selectFreeCommentList" parameterType="Map" resultMap="FreeCommDtoMap">
	 
		SELECT A.ROW_NUM, A.LOCAL_CO_NO, A.LOCAL_BOARD_NO, A.COMM_CONTENT,A.COMM_CREATE_DATE, A.STATE, A.DEPTH, A.GROUP_NO, A.GROUP_ORDER, A.USER_NO , A.ID
		  FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, DEPTH) AS ROW_NUM, F.LOCAL_CO_NO,  F.LOCAL_BOARD_NO, F.COMM_CONTENT, F.COMM_CREATE_DATE, F.STATE, F.DEPTH, F.GROUP_NO, F.GROUP_ORDER, F.USER_NO, U.ID, U.NICKNAME, U.GENDER  
		          FROM LOCALS_COMMENT F INNER JOIN USERS U
		     	    ON F.USER_NO = U.USER_NO) A	
		 WHERE LOCAL_BOARD_NO = #{localBoardNo}
	
	</select>
	
		
	<update id="deleteFreeComment" parameterType="int">
		UPDATE LOCALS_COMMENT
		   SET STATE = -1
		 WHERE LOCAL_CO_NO = #{localCoNo}
	</update>
	
	<insert id="insertFreeReply" parameterType="LocalCommDTO">
	INSERT INTO LOCALS_COMMENT
			( LOCAL_BOARD_NO, COMM_CONTENT,COMM_CREATE_DATE, STATE, DEPTH, GROUP_NO, GROUP_ORDER, USER_NO)
		VALUES
			( #{localBoardNo}, #{commContent}, NOW(), 1, 1, #{groupNo},#{groupOrder}, #{userNo})
	<!-- 
		INSERT INTO FREE_COMMENT
			( FREE_NO, COMM_CONTENT, STATE, DEPTH, GROUP_NO, COMM_DATE, ID)
		VALUES
			( #{freeNo}, #{commContent}, 1, 1, #{commGroupNo}, NOW(), #{id})
			 -->
	</insert>
	
	
	
</mapper>