<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.sporters.userSupport.mapper.QnaMapper">

	<select id="selectAllQnaCount" resultType="int">
		SELECT COUNT(*)
		  FROM QNA
	</select>
	
	<select id="selectAllQnaList" parameterType="Map" resultType="QnaDTO">
		SELECT QNA_NO, USER_NO, QNA_TITLE, QNA_PW, QNA_CONTENT, QNA_CREATE_DATE, STATE, DEPTH, GROUP_NO
		  FROM QNA

		  ORDER BY QNA_NO DESC
	</select>
	
	<select id="selectQnaByNo" parameterType="int" resultType="QnaDTO">
		SELECT USER_NO, QNA_TITLE, QNA_PW, QNA_CONTENT, QNA_CREATE_DATE, STATE, DEPTH, GROUP_NO
		  FROM QNA
		 WHERE QNA_NO = #{qnaNo}
	</select>

	<insert id="insertQna" parameterType="QnaDTO">
		INSERT INTO QNA
			(USER_NO, QNA_TITLE, QNA_PW, QNA_CONTENT, QNA_CREATE_DATE, STATE, DEPTH, GROUP_NO)
		VALUES
			(#{userNo}, #{qnaTitle}, 0, #{qnaContent}, NOW(), 1, 0, #{qnaNo})
	</insert>
	
	<update id="updateQna" parameterType="QnaDTO">
		UPDATE QNA
		SET QNA_TITLE = #{qnaTitle}
			,QNA_CONTENT = #{qnaContent}
		WHERE QNA_NO = #{qnaNo}
	</update>
	
	<delete id="deleteQna" parameterType="int">
		DELETE QNA
		  WHERE QNA_NO = #{qnaNo}
	</delete>
	
	<insert id="insertReply" parameterType="QnaDTO">
		INSERT INTO QNA
			(USER_NO, QNA_TITLE, QNA_PW, QNA_CONTENT, QNA_CREATE_DATE, STATE, DEPTH, GROUP_NO)
		VALUES
			({userNo}, {qnaTitle}, {qnaPw}, {qnaContent}, {qnaCreateDate}, 1, {depth}, {qnaNo})
	</insert>
	
</mapper>