<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.sporters.shop.mapper.ShopMapper">

	<select id="selectProductListByMap" parameterType="Map" resultType="ProductDTO">
		SELECT A.ROW_NUM, A.PROD_NO, A.PROD_CATEGORY_NO, A.PROD_NAME, A.PRICE, A.DISCOUNT, A.PROD_CONTENT, A.ORIGIN, A.STOCK, A.FILESYSTEM, A.PROD_THUMBNAIL
		  FROM (SELECT ROW_NUMBER() OVER (ORDER BY PROD_NO DESC) AS ROW_NUM, PROD_NO, PROD_CATEGORY_NO, PROD_NAME, PRICE, DISCOUNT, PROD_CONTENT, ORIGIN, STOCK, FILESYSTEM, PROD_THUMBNAIL
		  		  FROM PRODUCT) A
		 WHERE A.ROW_NUM BETWEEN #{begin} AND #{end}
	</select>
	
	<select id="selectProductCount" resultType="int">
		SELECT COUNT(*)
		  FROM PRODUCT
	</select>
	
	<select id="selectProductByNo" parameterType="int" resultType="Map">
		SELECT P.PROD_NO, P.PROD_CATEGORY_NO, P.PROD_NAME, P.PRICE, P.DISCOUNT, P.PROD_CONTENT, P.ORIGIN, P.STOCK, P.FILESYSTEM, P.PROD_THUMBNAIL, C.PROD_CATEGORY_NAME
		  FROM PRODUCT P INNER JOIN PROD_CATEGORY C
		    ON P.PROD_CATEGORY_NO = C.PROD_CATEGORY_NO
		 WHERE P.PROD_NO = #{prodNo}
	</select> 
	
	<insert id="addCart" parameterType="CartDTO">
		INSERT INTO CART
			(CART_NO, USER_NO, PROD_NO, PROD_CNT)
		VALUES
			(CART_SEQ.NEXTVAL, #{userNo}, #{prodNo}, #{prodCnt})
	</insert>
	
	<select id="selectCartList" parameterType="Map" resultType="Map">
		SELECT A.ROW_NUM, A.CART_NO, A.USER_NO, A.PROD_NO, A.PROD_CNT, A.PROD_THUMBNAIL, A.PROD_NAME, A.PRICE, A.STOCK
		  FROM (SELECT ROW_NUMBER() OVER (ORDER BY CART_NO DESC) AS ROW_NUM, C.CART_NO, C.USER_NO, C.PROD_NO, C.PROD_CNT, P.PROD_THUMBNAIL, P.PROD_NAME, P.PRICE, P.STOCK
		  		  FROM CART C INNER JOIN PRODUCT P 
		    		ON C.PROD_NO = P.PROD_NO) A
		 WHERE A.ROW_NUM BETWEEN #{begin} AND #{end}
		   AND USER_NO = #{userNo}
	</select>
	
</mapper>