<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.sporters.shopAdmin.mapper.ShopAdminCategoryMapper">

	<!-- 상품 카테고리 목록 -->
	<select id="selectCategoryList" resultType="ProdCategoryDTO">
		SELECT PROD_CATEGORY_NO, PROD_CATEGORY_NAME
		  FROM PROD_CATEGORY
	</select>
	
	<!-- 상품 카테고리 개수 -->
	<select id="selectCategoryCnt" resultType="int">
		SELECT COUNT(*)
		  FROM PROD_CATEGORY
	</select>
	
	<!-- 상품 카테고리 추가 -->
	<insert id="insertCategory" parameterType="ProdCategoryDTO">
		INSERT INTO PROD_CATEGORY (PROD_CATEGORY_NAME)
		VALUES (#{prodCategoryName})
	</insert>
	
	<!-- 상품 카테고리 삭제 -->
	<delete id="deleteCategory" parameterType="int">
		DELETE
		  FROM PROD_CATEGORY
		 WHERE PROD_CATEGORY_NO = #{prodCategoryNo}
	</delete>
	
</mapper>